.settings-select {
	width: var(--settings-input-width);
}

.settings-select__label {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	font-family: var(--app-basic-font);
	color: var(--text-primary);
	font-size: var(--settings-input-label-font-size);
	font-weight: var(--settings-input-label-font-weight);

	cursor: pointer;

	&:focus-within {
		color: var(--primary);
	}
}

.settings-select__select {
	width: 100%;
	appearance: none;
	padding: 10px;

	background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
		var(--settings-input-bg);
	border: 0;
	border-radius: var(--app-settings-border-radius);
	box-shadow: var(--inner-shadow);

	font-family: var(--app-basic-font);
	font-size: var(--settings-input-font-size);
	font-weight: var(--settings-input-font-weight);
	color: var(--setting-input-text-color);

	cursor: pointer;

	&:hover,
	&:focus-within {
		outline: 2px solid var(--settings-color);
		box-shadow: var(--input-shadow);
	}

	/* Remove IE arrow */
	&::-ms-expand {
		display: none;
	}
}

.settings-select__option {
	background-color: var(--settings-input-bg);

	font-family: var(--app-basic-font);
	font-size: var(--settings-input-font-size);
	font-weight: var(--settings-input-font-weight);
	color: var(--setting-input-text-color);
}