.settings-input {
	width: var(--settings-input-width);
}

.settings-input__label {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	font-family: var(--app-basic-font);
	font-size: var(--settings-input-label-font-size);
	font-weight: var(--settings-input-label-font-weight);
	color: var(--text-primary);

	cursor: pointer;

	&:focus-within {
		color: var(--settings-color);
	}
}

.settings-input__input {
	width: 100%;
	padding: 5px 10px;

	border: none;
	border-radius: var(--app-settings-border-radius);

	box-shadow: var(--input-inner-shadow);
	background-color: var(--settings-input-bg);

	font-family: var(--app-basic-font);
	font-size: var(--settings-input-font-size);
	font-weight: var(--settings-input-font-weight);
	color: var(--setting-input-text-color);

	&:hover,
	&:focus {
		outline: 2px solid var(--settings-color);
		box-shadow: var(--input-shadow);
	}
}
