.weather-app {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;

	border-radius: var(--weather-basic-border-radius);
	background-color: var(--weather-background-color);
	color: var(--weather-basic-font-color);
	box-shadow: var(--weather-component-shadow);
}
