.weather-button {
	width: 100%;
	padding: 10px 20px;

	border: 1px solid transparent;
	border-radius: var(--weather-basic-border-radius);
	cursor: pointer;

	font-size: var(--weather-basic-button-text-size);
	font-weight: var(--weather-basic-button-text-weight);
	text-align: center;
	text-decoration: none;

	transition: all 0.2s ease;

	&--main {
		background-color: var(--overlay);
		color: var(--text-primary);

		&:hover {
			border: 1px solid var(--text-primary);
		}
	}

	&--second {
		background-color: transparent;
		color: var(--text-primary);

		&:hover {
			border: 1px solid var(--text-primary);
		}
	}

	&:active {
		transform: scale(0.98);
	}
}