:root {
	/* FONTS */
	--weather-basic-font: 'Rubik', 'Arial', sans-serif;

	/* PADDINGS AND RADIUSES */
	--weather-basic-padding: 20px;
	--weather-basic-border-radius: 20px;

	/* TEXT SIZES */
	/* current-weather__date-text */
	--weather-current-location-date-text-size: 13px;
	--weather-current-location-date-text-weight: 400;
	/* current-weather__temperature */
	--weather-current-temp-text-size: 40px;
	--weather-current-temp-text-weight: 500;
	/* current-weather__temperature-info */
	--weather-current-temp-info-text-size: 18px;
	--weather-current-temp-info-text-weight: 500;
	/* current-weather__image-info-title current-weather__image-author current-weather__image-link*/
	--weather-current-image-info-text-size: 10px;
	--weather-current-image-info-text-weight: 500;
	/* weather-additional__info-subject weather-additional__info-content */
	--weather-additional-text-size: 18px;
	--weather-additional-text-weight: 500;
	/* weather-days__days-name */
	--weather-days-name-text-size: 16px;
	--weather-days-name-text-weight: 400;
	/* weather-days__temperature */
	--weather-days-temp-text-size: 20px;
	--weather-days-temp-text-weight: 500;
	/* weather-full-info__text */
	--weather-full-info-text-size: 16px;
	--weather-full-info-text-weight: 400;
	/* weather-full-info__data */
	--weather-full-info-data-text-size: 17px;
	--weather-full-info-data-text-weight: 500;
	/* weather-button */
	--weather-basic-button-text-size: 16px;
	--weather-basic-button-text-weight: 400;

	/* location page */
	--weather-location-popular-title-text-size: 20px;
	--weather-location-popular-title-text-weight: 500;

	--weather-location-button-text-size: 14px;
	--weather-location-button-text-weight: 400;

	--weather-location-input-placeholder-text-size: 14px;
	--weather-location-input-placeholder-text-weight: 300;
	--weather-location-input-text-size: 16px;
	--weather-location-input-text-weight: 500;
	--weather-location-save-btn-text-size: 14px;
	--weather-location-save-btn-text-weight: 400;
}