.weather-full-info {
	width: 100%;
	max-width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content;
	align-items: center;
	justify-items: center;
}

.weather-full-info__list {
	height: 100%;
	max-width: 100%;
	padding: var(--weather-basic-padding) 0;

	overflow: auto;
	list-style: none;
}

.weather-full-info__list-wrap {
	height: 100%;
	min-width: max-content;
	padding: 0 var(--weather-basic-padding);

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}
