.weather-days__item {
	width: 70px;
	position: relative;
	padding: 10px;

	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	list-style: none;
	border-radius: var(--weather-basic-border-radius);
	transition: all 0.2s ease;

	&:hover,
	&--current {
		transform: scale(1.05);
		background: var(--surface);
		box-shadow: var(--shadow);

		& .weather-days__days-name,
		& .weather-days__temperature {
			color: var(--text-primary);
		}
	}
}

.weather-days__days-name {
	font-family: var(--weather-basic-font);
	color: var(--text-secondary);
	font-size: var(--weather-days-name-text-size);
	font-weight: var(--weather-days-name-text-weight);
}

.weather-days__temperature {
	font-family: var(--weather-basic-font);
	color: var(--text-secondary);
	font-size: var(--weather-days-temp-text-size);
	font-weight: var(--weather-days-temp-text-weight);
}

.weather-days__image {
	width: 30px;
	height: 30px;
	object-fit: contain;
}

.weather-days__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
