@import '../../../../variables/variables.scss';

.password-result {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}

.password-result__pass-result {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px 5px;
	border-radius: 5px;
	background-color: var(--overlay);

	font-family: var(--app-basic-font);
	font-size: var(--text-font-size);
	font-weight: 500;
	color: var(--text-inverse);
}

.password-result__error-message {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	color: red;
	background-color: var(--surface);
	box-shadow: var(--shadow);
	border-radius: 10px;

	text-align: left;
}
