.weather-full-info__item {
	width: 150px;
	height: 100%;
	padding: 10px;

	border-radius: var(--weather-basic-border-radius);
	background-color: var(--surface);
	box-shadow: var(--weather-box-shadow-color);
}

.weather-full-info__day-article {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
}

.weather-full-info__header {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.weather-full-info__weather-image {
	width: 50px;
	height: 50px;
	object-fit: contain;
}

.weather-full-info__point {
	width: 100%;
	height: min-content;
	padding: 2px 4px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.weather-full-info__point-text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.weather-full-info__text {
	font-family: var(--weather-basic-font);
	color: var(--text-primary);
	font-size: var(--weather-full-info-text-size);
	font-weight: var(--weather-full-info-text-weight);
	text-align: center;
}

.weather-full-info__data {
	font-family: var(--weather-basic-font);
	color: var(--text-primary);
	font-size: var(--weather-full-info-data-text-size);
	font-weight: var(--weather-full-info-data-text-weight);
}