.weather-search-location {
	width: 300px;
	height: 100%;
	padding: 30px 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.weather-search-location__label {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
	cursor: pointer;

	&:focus-within .weather-search-location__input {
		background-color: var(--weather-search-light);
		color: var(--weather-basic-text-color);
	}
}

.weather-search-location__placeholder {
	font-family: var(--weather-basic-font);
	font-size: var(--weather-location-input-placeholder-text-size);
	font-weight: --weather-location-input-placeholder-text-weight;
	color: var(--weather-basic-text-color);
}

.weather-search-location__input {
	width: 100%;
	padding: 10px 15px;

	border: none;
	background-color: var(--weather-search-input-bacground);

	font-family: var(--weather-basic-font);
	font-size: var(--weather-location-input-text-size);
	font-weight: var(--weather-location-input-text-weight);
	color: var(--weather-basic-dark-text-color);
}

.weather-search-location__message {
	height: 40px;
	text-align: center;
	text-decoration: none;

	font-family: var(--weather-basic-font);
	font-size: var(--weather-location-input-text-size);
	font-weight: var(--weather-location-input-text-weight);
	color: var(--weather-basic-text-color);
}

.weather-search-location__controls {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content;
	gap: 10px;
}

.weather-search-location__submit {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}
