.popular-location__item {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	list-style: none;
}

.popular-location__button-icon {
	transition: transform 0.2s ease;
}

.popular-location__location-button {
	width: 100%;
	cursor: pointer;
	padding: 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-family: var(--weather-basic-font);
	color: var(--weather-location-popular-bg-color);
	font-size: var(--weather-location-button-text-size);
	font-weight: var(--weather-location-button-text-weight);

	background-color: var(--weather-card-background-color);
	border: none;
	border-radius: 20px;

	transition: transform 0.2s ease;

	&:hover {
		color: var(--basic-white);

		& .popular-location__button-icon {
			transition: transform 0.2s ease;
			transform: translateX(5px);
		}
	}

	&:active {
		transition: transform 0.1s ease;
		transform: scale(0.96);
	}
}
