.popular-location {
	position: relative;
	width: 100%;
	min-width: 300px;
	// height: 100%;
	height: 350px;
	padding: 30px 10px 0px 10px;



	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	gap: 10px;

	background-color: var(--weather-search-light);

	border-radius: var(--weather-basic-border-radius);
	box-shadow: var(--weather-current-component-shadow);

	transform: scale(1.05);
}

.popular-location__title {
	font-family: var(--weather-basic-font);
	color: var(--weather-search-dark);
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.popular-location__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;

	min-height: max-content;
	overflow: auto;

	padding: 20px 0;
}
