.root-navigation {
	width: 100%;
	height: 100%;
}

.root-navigation__list {
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.root-navigation__item {
	list-style: none;
}

.root-navigation__link {
	display: flex;
	padding: 10px 20px;

	font-family: var(--app-basic-font);
	font-size: var(--app-basic-text-size);
	font-weight: var(--app-basic-text-weight);
	// color: var(--app-basic-text-color);
	color: var(--default-text-color);
	// text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
	text-decoration: none;
}