@import '../../../variables/variables.scss';

.root-header {
	position: relative;
	width: 100%;
	height: min-content;
	padding: 0 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: $mobile-width) {
		padding: 0;
	}
}
