@import '../../../variables/variables.scss';

.root-header {
	position: relative;
	width: 100%;
	height: min-content;
	padding: 20px;

	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;

	@media (max-width: $mobile-width) {
		padding: 0;
	}
}
