@import '../../../variables/variables.scss';

.root-header {
	width: 100%;
}

.root-header__wrap {
	width: 100%;
	height: min-content;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(2, 1fr);
	padding: 0 $standart-side-padding;
}
