@import '../../../../variables/variables.scss';

.current-weather {
	position: relative;
	width: 100%;
	min-width: 300px;
	// height: 100%;
	min-height: 340px;
	padding: 30px 20px 20px 20px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr min-content;
	grid-row-gap: 20px;

	background-position: center;
	background-size: cover;

	border-radius: var(--weather-basic-border-radius);
	box-shadow: var(--weather-application-box-shadow-color);

	transition: transform 0.3s ease;
	transform: scale(1.05);

	&::after {
		content: '';
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-image: var(--weather-gradient);
		opacity: 0.5;
		border-radius: var(--weather-basic-border-radius);
	}

	&:hover {
		transform: scale(1.1) perspective(1500px) rotateY(10deg);
	}

	@media (max-width: $mobile-width) {
		width: 100%;
		transform: scale(1);
		border-radius: 0 0 var(--weather-basic-border-radius) var(--weather-basic-border-radius);

		&::after {
			border-radius: 0 0 var(--weather-basic-border-radius) var(--weather-basic-border-radius);
		}

		&:hover {
			transform: none;
		}
	}
}

.current-weather__wrap {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content min-content 1fr min-content min-content;
}

.current-weather__date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.current-weather__date-text {
	font-family: var(--weather-basic-font);
	color: var(--weather-basic-text-color);

	font-size: var(--weather-current-location-date-text-size);
	font-weight: var(--weather-current-location-date-text-weight);

	&--day {
		font-size: calc(var(--weather-current-location-date-text-size) + 10px);
		font-weight: calc(var(--weather-current-location-date-text-weight) + 100);
	}
}

.current-weather__city {
	font-family: var(--weather-basic-font);
	color: var(--weather-basic-text-color);
	font-size: var(--weather-current-location-date-text-size);
	font-weight: var(--weather-current-location-date-text-weight);
}

.current-weather__image {
	width: var(--weather-current-info-icon-size);
	height: var(--weather-current-info-icon-size);

	display: flex;
	align-self: end;

	object-fit: contain;
}

.current-weather__temperature {
	font-family: var(--weather-basic-font);
	color: var(--weather-basic-text-color);
	font-size: var(--weather-current-temp-text-size);
	font-weight: var(--weather-current-temp-text-weight);
	line-height: var(--weather-current-temp-text-size);
}

.current-weather__temperature-info {
	font-family: var(--weather-basic-font);
	color: var(--weather-basic-text-color);
	font-size: var(--weather-current-temp-info-text-size);
	font-weight: var(--weather-current-temp-info-text-weight);
}

.current-weather__image-info {
	position: relative;
	z-index: 1;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content;
	gap: 5px;
}

.current-weather__image-info-title {
	font-family: var(--weather-basic-font);
	color: var(--weather-basic-text-color);
	font-size: calc(var(--weather-current-image-info-text-size) + 2px);
	font-weight: var(--weather-current-image-info-text-weight);
}

.current-weather__image-author {
	font-family: var(--weather-basic-font);
	color: var(--weather-basic-text-color);
	font-size: var(--weather-current-image-info-text-size);
	font-weight: var(--weather-current-image-info-text-weight);

	align-self: left;
	grid-row-start: 2;
}

.current-weather__image-link {
	font-family: var(--weather-basic-font);
	color: var(--weather-basic-text-color);
	font-size: var(--weather-current-image-info-text-size);
	font-weight: var(--weather-current-image-info-text-weight);

	align-self: right;
	grid-row-start: 2;
	text-align: right;

	&:hover {
		color: var(--basic-white);
	}
}
