@import '../../../../variables/variables.scss';

.pass-generator {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	justify-items: center;
	gap: 40px;
}

.pass-generator__title {
	font-family: var(--app-basic-font);
	font-size: var(--main-title-font-size);
	font-weight: var(--main-title-font-weight);
	color: var(--text-primary);

	text-align: center;
}

.pass-generator__wrap {
	width: 700px;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;

	@media (max-width: $mobile-width) {
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: min-content min-content;
	}
}

.pass-generator__input {
	padding: 40px 20px;
	box-shadow: var(--box-shadow-color);
	border-radius: var(--weather-basic-border-radius);
}

.pass-generator__options {
	padding: 40px 20px;
}
