@import '../../../../variables/variables.scss';

.pass-generator__result {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;

	padding: 30px 20px;
	box-shadow: var(--box-shadow-color);
	border-radius: var(--weather-basic-border-radius);

	@media (max-width: $mobile-width) {
		padding: 20px 10px;
	}
}

.pass-generator__pass-result {
	padding: 10px 5px;
	border-radius: 5px;
	background-color: var(--overlay);

	font-family: var(--app-basic-font);
	font-size: var(--text-font-size);
	font-weight: 500;
	color: var(--text-inverse);
}

.pass-generator__options {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
	padding: 20px 20px;
}

.pass-generator__subtitle {
	font-family: var(--app-basic-font);
	font-size: var(--block-title-font-size);
	font-weight: var(--block-title-font-weight);
	color: var(--text-secondary);
}
