.settings-button {
	width: max-content;
	padding: var(--settings-button-padding);

	font-family: var(--app-basic-font);
	font-size: var(--button-font-size);
	font-weight: var(--button-font-weight);
	color: var(--standart-white);

	border-radius: var(--app-settings-border-radius);
	border: none;

	transition: all 120ms ease-out;

	box-shadow: var(--button-shadow);
	background: var(--settings-color);
	cursor: pointer;

	&:hover,
	&:focus {
		box-shadow: var(--dark-button-inner-shadow);
	}

	&:active {
		transform: scale(0.98);
	}
}