.global-root-nav-item {
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 100px;
	box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);

	&:hover {
    background-color: rgba(whitesmoke, 0.4);
    border: 1px solid rgba(whitesmoke, 0.3);
  }
}
