@import '../../variables/variables.scss';

.global-glass-card-bg {
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);

	box-shadow: $black-shadow;
}

.global-glass-button-bg {
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 100px;

	box-shadow: $black-shadow;

	&:hover {
    background-color: rgba($smoke-text-color, 0.4);
    border: 1px solid rgba($smoke-text-color, 0.3);
  }

	&:active {
		box-shadow: $black-inner-shadow;
	}
}
