@import '../../variables/variables.scss';

.global-root-nav-item {
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 100px;
	// box-shadow: 2px 2px 2px rgb(0 0 0 / 10%);

	box-shadow: .3rem .3rem .8rem rgb(0 0 0 / 51%),
  -.3rem -.3rem .8rem rgb(255 255 255 / 5%);

	&:hover {
    background-color: rgba($smoke-text-color, 0.4);
    border: 1px solid rgba($smoke-text-color, 0.3);
  }

	&:active {
		box-shadow: inset .2rem .2rem .5rem rgb(0 0 0 / 60%),
		inset -.2rem -.2rem .5rem rgb(255 255 255 / 90%);
	}
}
