:root {
	/* FONTS */
	--weather-basic-font: 'Rubik', 'Arial', sans-serif;

	/* COLORS */
	--weather-application-bg-color: #222831;
	--weather-application-text-color: #f5f5f5;
	--weather-card-background-color: #2a323d;

	/* SHADOWS */
	--weather-application-box-shadow-color: 0 0 20px 3px rgba(0, 0, 0, 0.4);
	--weather-after-gradient: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);

	/* PADDINGS AND RADIUSES */
	--weather-basic-padding: 20px;
	--weather-basic-border-radius: 20px;






	/* BASIC COLORS */
	/* --basic-white: #ffffff; */

	/* COLORS */
	/* --weather-basic-text-color: #f5f5f5; */
	/*whitesmoke color*/
	/* --weather-basic-dark-text-color: #222831; */

	--weather-page-bg-color: #343d4b;






	--weather-search-input-bacground: #666666;
	--weather-location-popular-bg-color: #dddddd;



	/* SIZES */
	--weather-current-info-icon-size: 70px;
	--weather-full-info-icon-size: 50px;

	/* TEXT SIZES */
	--weather-basic-button-text-size: 16px;
	--weather-basic-button-text-weight: 400;

	--weather-current-location-date-text-size: 13px;
	--weather-current-location-date-text-weight: 400;
	--weather-current-temp-text-size: 40px;
	--weather-current-temp-text-weight: 500;
	--weather-current-temp-info-text-size: 18px;
	--weather-current-temp-info-text-weight: 500;
	--weather-current-image-info-text-size: 10px;
	--weather-current-image-info-text-weight: 500;

	--weather-additional-text-size: 18px;
	--weather-additional-text-weight: 500;

	--weather-days-tem-text-size: 20px;
	--weather-days-tem-text-weight: 400;

	--weather-full-info-text-size: 16px;
	--weather-full-info-text-weight: 400;
	--weather-full-info-data-text-size: 17px;
	--weather-full-info-data-text-weight: 500;

	--weather-location-popular-title-text-size: 20px;
	--weather-location-popular-title-text-weight: 500;

	--weather-location-button-text-size: 14px;
	--weather-location-button-text-weight: 400;

	--weather-location-input-placeholder-text-size: 14px;
	--weather-location-input-placeholder-text-weight: 300;
	--weather-location-input-text-size: 16px;
	--weather-location-input-text-weight: 500;
	--weather-location-save-btn-text-size: 14px;
	--weather-location-save-btn-text-weight: 400;
}