@import '../../../variables/variables.scss';

.app-settings {
	width: 100%;
	background-color: var(--surface);
	border: 2px solid var(--border);
	border-radius: var(--app-settings-border-radius);
	padding: var(--standart-side-padding);

	display: flex;
	flex-direction: column;
	gap: 40px;

	box-shadow: var(--shadow);

	@media (max-width: $tablet-width) {
		width: 100%;
	}
}

.app-settings__title {
	font-size: var(--main-title-font-size);
	font-weight: var(--main-title-font-weight);
	color: var(--text-primary);
	grid-column: 1/-1;
}
