.app-settings {
	width: max-content;
	background-color: var(--surface);
	border: 2px solid var(--border);
	border-radius: var(--app-settings-border-radius);
	padding: var(--standart-side-padding);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content 1fr;
	gap: 40px;

	box-shadow: var(--shadow);
}

.app-settings__title {
	font-size: var(--main-title-font-size);
	font-weight: var(--main-title-font-weight);
	color: var(--text-primary);
	grid-column: 1/-1;
}