@import '../../../../variables/variables.scss';

.weather-additional {
	width: 100%;
	display: grid;
	grid-template-columns: 200px 80px;
	grid-template-rows: repeat(3, min-content);
	grid-row-gap: 10px;
	grid-column-gap: 10px;

	@media (max-width: $mobile-width) {
		width: min-content;
	}
}

.weather-additional__info-subject {
	height: min-content;
	align-self: center;
	justify-self: start;

	font-family: var(--weather-basic-font);
	color: var(--text-primary);
	font-size: var(--weather-additional-text-size);
	font-weight: calc(var(--weather-additional-text-weight) - 100);
}

.weather-additional__info-content {
	height: min-content;
	align-self: center;
	justify-self: end;

	font-family: var(--weather-basic-font);
	color: var(--text-primary);
	font-size: var(--weather-additional-text-size);
	font-weight: var(--weather-additional-text-weight);

	&.skeleton {
		width: 80px;
	}
}