@import '../../../../variables/variables.scss';

.weather-additional {
	width: 100%;
	display: grid;
	grid-template-columns: 200px 80px;
	grid-template-rows: repeat(3, min-content);
	grid-row-gap: 10px;
	grid-column-gap: 10px;

	@media (max-width: $mobile-width) {
		width: min-content;
	}
}

.weather-additional__info-subject {
	height: min-content;
	align-self: center;
	justify-self: start;

	font-family: var(--weather-basic-font);
	color: var(--text-primary);
	font-size: var(--weather-additional-text-size);
	font-weight: calc(var(--weather-additional-text-weight) - 100);
}

.weather-additional__info-content {
	height: min-content;
	align-self: center;
	justify-self: end;

	font-family: var(--weather-basic-font);
	color: var(--text-primary);
	font-size: var(--weather-additional-text-size);
	font-weight: var(--weather-additional-text-weight);
}

.weather-additional__skeleton {
	position: relative;
	z-index: 1;

	--card-padding: 20px;
  --card-height: 100%;
  --card-skeleton: linear-gradient(var(--surface), var(--card-height), transparent 0);

	--line-1-width: 40%;
	--line-1-height: 20px;
	--line-1-position: var(--card-padding) 20%;
	--line-1-skeleton: linear-gradient(var(--overlay), var(--line-1-height), transparent 0);

	--line-2-width: 30%;
	--line-2-height: 20px;
	--line-2-position: var(--card-padding) 50%;
	--line-2-skeleton: linear-gradient(var(--overlay) var(--line-2-height), transparent 0);

	--line-3-width: 45%;
	--line-3-height: 20px;
	--line-3-position: var(--card-padding) 80%;
	--line-3-skeleton: linear-gradient(var(--overlay) var(--line-3-height), transparent 0);

	--line-4-width: 30%;
	--line-4-height: 20px;
	--line-4-position: 100% 20%;
	--line-4-skeleton: linear-gradient(var(--overlay), var(--line-1-height), transparent 0);

	--line-5-width: 10%;
	--line-5-height: 20px;
	--line-5-position: 100% 50%;
	--line-5-skeleton: linear-gradient(var(--overlay) var(--line-2-height), transparent 0);

	--line-6-width: 20%;
	--line-6-height: 20px;
	--line-6-position: 100% 80%;
	--line-6-skeleton: linear-gradient(var(--overlay) var(--line-3-height), transparent 0);

  --blur-width: 200px;
  --blur-size: var(--blur-width) var(--card-height);

	&::before {
		position: absolute;
		content: '';
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: 3;

    background-image:
			var(--skeleton-line), //animation blur
			var(--line-1-skeleton),
			var(--line-2-skeleton),
			var(--line-3-skeleton),
			var(--line-4-skeleton),
			var(--line-5-skeleton),
			var(--line-6-skeleton),
      var(--card-skeleton)        //card
    ;

    background-size:
      var(--blur-size),
			var(--line-1-width) var(--line-1-height),
			var(--line-2-width) var(--line-2-height),
			var(--line-3-width) var(--line-3-height),
			var(--line-4-width) var(--line-4-height),
			var(--line-5-width) var(--line-5-height),
			var(--line-6-width) var(--line-6-height),
      100% 100%
    ;

    background-position:
      -150% 0,                      //animation
			var(--line-1-position),
			var(--line-2-position),
			var(--line-3-position),
			var(--line-4-position),
			var(--line-5-position),
			var(--line-6-position),
      0 0                           //card
    ;

    background-repeat: no-repeat;
    animation: weather-additional-loading-animation 1.5s infinite;
	}
}

@keyframes weather-additional-loading-animation {
  to {
    background-position:
      300% 0,
			var(--line-1-position),
			var(--line-2-position),
			var(--line-3-position),
			var(--line-4-position),
			var(--line-5-position),
			var(--line-6-position),
      0 0
    ;
  }
}
