@import '../../../../variables/variables.scss';

.weather-controls {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr min-content;
	gap: 30px;
	padding: 30px;

	@media (max-width: $mobile-width) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}
}

.weather-controls__change-location-link {
	width: 100%;
	padding: 10px 20px;

	border: none;
	border-radius: var(--weather-basic-border-radius);
	cursor: pointer;

	background-image: var(--weather-gradient);
	transition: all 0.2s ease;
	box-shadow: var(--weather-change-location-button-shadow);

	color: var(--weather-basic-text-color);
	font-size: var(--weather-controls-location-button-text-size);
	font-weight: var(--weather-controls-location-button-text-weight);
	text-align: center;
	text-decoration: none;

	&:hover {
		transform: scale(0.95);
	}

	@media (max-width: $mobile-width) {
		width: 300px;
	}
}
