@import '../../../../variables/variables.scss';

.weather-controls {
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	gap: 30px;
	padding: 20px 30px;

	@media (max-width: $mobile-width) {
		min-height: 300px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: var(--weather-basic-padding);
	}
}

.weather-controls__change-location-link {
	@media (max-width: $mobile-width) {
		width: 70%;
	}
}
