.menu-account-settings {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	grid-row-gap: 10px;
}

.menu-account-settings__label {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;

	font-family: var(--app-basic-font);
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
}

.menu-account-settings__input {
	padding: 5px;
	border-radius: 4px;
	// border: 1px solid var(--app-page-bg-color);

	font-size: 14px;
	font-weight: 400;

	// -----------------
	border: none;
	background-color: rgb(238, 238, 238);
	border-radius: 8px;

	padding: 10px 12px;

	font-size: 16px;
	line-height: 24px;


	&:focus {
		// border-color: var(--app-menu-hover-color);
		// border-radius: 4px;

		background-color: rgb(246, 246, 246);
	}
}

.menu-account-settings__controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.menu-account-settings__button {
	flex-grow: 1;
}

.menu-account-settings__select {
		display: inline-block;
    width: 180px;
    padding: 10px 15px;

    cursor: pointer;
    border: 0;
		border-radius: 4px;
    // background: #E6E6E6;
    // color: #7B7B7B;

		background-color: rgb(238, 238, 238);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &::-ms-expand {
      display: none;
		}

    &:hover,
    &:focus {
      // color: #000;
      // background: #CCCCCC;
			background-color: rgb(246, 246, 246);
		}

    &:disabled	{
      opacity: 0.5;
      pointer-events: none;
		}
}
