.menu-account-settings {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	grid-row-gap: 10px;
}

.menu-account-settings__controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.menu-account-settings__button {
	flex-grow: 1;
}
