.app-input {
	width: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;

	cursor: pointer;
}

.app-input__name {
	font-family: var(--app-basic-font);
	font-size: var(--app-checkbox-font-size);
	font-weight: var(--app-checkbox-wont-weight);
	color: var(--text-primary);
}

.app-input__wrap {
	position: relative;
	width: calc(100% + 2px);
	padding: 2px;
	margin-left: -2px;

	border-radius: 10px;

	&:hover,
	&:focus-within {
		background: var(--app-controls-background-gradient);
	}
}

.app-input__input {
	position: relative;
	width: 100%;
	padding: var(--app-control-basic-paddings);

	border: none;
	background-color: var(--overlay);
	border-radius: var(--app-control-basic-border-radius);
	box-shadow: var(--shadow);

	font-family: var(--app-basic-font);
	font-size: var(--app-checkbox-font-size);
	font-weight: var(--app-checkbox-wont-weight);
	color: var(--text-primary);

	outline: none;
}
