.header-clock {
	// width: max-content;
	width: 100%;
	color: var(--app-basic-text-color);
}
.header-clock__time-text {
	font-family: var(--app-basic-font);
	font-size: 100px;
	font-weight: 500;
	color: var(--app-basic-text-color);
	text-shadow: 10px 12px 12px rgba(0, 0, 0, 0.7);

	&--separator {
		font-weight: 400;
		font-size: 80px;
	}
}

.header-clock__time-info {
	width: 100%;
	font-family: var(--app-basic-font);
	font-size: var(--app-basic-text-size);
	font-weight: var(--app-basic-text-weight);
	color: var(--app-basic-text-color);

	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: center;
	grid-column-gap: 10px;
}
