@import '../../../../variables/variables.scss';

.header-clock {
	width: max-content;
	color: $smoke-text-color;
}
.header-clock__time-text {
	font-family: $basic-font;
	font-size: 100px;
	font-weight: 500;
	color: $smoke-text-color;
	text-shadow: $root-clock-text-shadow;

	&--separator {
		font-weight: 400;
		font-size: 80px;
	}
}

.header-clock__time-info {
	font-family: $basic-font;
	font-size: 16px;
	font-weight: 400;
	color: $smoke-text-color;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
