:root {
	/* FONTS */
	--app-basic-font: 'Rubik', 'Arial', sans-serif;


	/* TEXT SIZES */
	--page-title-font-size: 30px;
	--page-title-font-weight: 600;
	--main-title-font-size: 25px;
	--main-title-font-weight: 600;
	--second-title-font-size: 22px;
	--second-title-font-weight: 500;
	--sub-title-font-size: 18px;
	--sub-title-font-weight: 400;
	--sub-text-font-size: 14px;
	--sub-text-font-weight: 400;

	--settings-input-label-font-size: 17px;
	--settings-input-label-font-weight: 400;
	--settings-input-font-size: 18px;
	--settings-input-font-weight: 400;

	--button-font-size: 18px;
	--button-font-weight: 400;

	/* PADDINGS */
	--standart-side-padding: 20px;
	--padding-for-menu: 100px;
	--app-navigation-padding: 10px;
	--settings-button-padding: 15px 30px;

	/* BORDERS */
	--app-navigation-border-radius: 10px;
	--app-settings-border-radius: 10px;

	/* WIDTH */
	--settings-input-width: 250px;










	/* BASIC COLORS */
	--app-basic-white: #ffffff;
	--app-basic-black: #000000;
	/* COLORS */
	--app-page-bg-color: #343d4b;
	--app-page-application-bg-color: #222831;
	--app-basic-text-color: #f5f5f5;
	/*whitesmoke color*/
	--app-basic-dark-text-color: #222831;
	--app-menu-hover-color: #2962ff;

	/* SIZES */

	/* PADDINGS */
	--app-standart-side-padding: 20px;

	/* SHADOWS */

	/* TEXT SIZES */
	--app-basic-text-size: 16px;
	--app-basic-text-weight: 400;

	--setting-input-text-size: 16px;
	--setting-input-text-weight: 400;

	--setting-button-text-size: 14px;
	--setting-button-text-weight: 400;
	--setting-big-button-text-size: 16px;
	--setting-big-button-text-weight: 500;

	/* CUSTOM SCROLL BAR */
	--custom-scroll-width: 10px;
	--custom-scroll-track-color: #f1f1f1;
	--custom-scroll-thumb-color: #888888;
	--custom-scroll-thumb-hover-color: #555555;


	/* SETTINGS CONTROLS COLORS */
	--setting-system-color: #276ef1;
	--setting-white-color: #ffffff;
	--setting-black-color: #000000;
	--setting-grey-bg-color: #eeeeee;
	--setting-black-hover-color: #333333;
	--setting-white-hover-color: #E2E2E2;
	--setting-smoke-white-hover-color: #f6f6f6;

	--settings-bg-color: #ffffff;
}